.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .sections-wrapper {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  
  .section-item {
    text-align: center;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .section-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  .image-container {
    width: 25%;
  }
  
  .image-container img {
    width: 100%;
    border-radius: 8px;
  }


  .containerbox {  display: grid;
    grid-template-columns: 1.3fr 0.7fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "A1 A1 A2"
      "A3 A4 A4"
      "A3 A4 A4";

    
  }
  
  .A1 { grid-area: A1; }
  
  .A2 {   grid-area: A2; }
  
  .A3 { 
    grid-area: A3;
    
  
  }
  
  .A4 { grid-area: A4; }
  

  .steps{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8dcee8 ;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    flex-wrap: nowrap;
    
  }


  #leaf:hover{
    scale:1.1;
  }

  #steps:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

